* {
    box-sizing: border-box;
}
html {
    font-size: 100%;
    font-family: 'Titillium Web', sans-serif; 
    font-weight: 400;   
    color: #454545;
    height: 100vh;
}

html body {
    /* background-color: #91d5ff; */
    background: -webkit-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
    background: -moz-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
    background: -ms-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
    background: -o-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
    background: linear-gradient(45deg, #085078 10%, #85d8ce 90%);
}

.app {
    /* height: 100vh; */
    width: 100%;
    padding: 0 2rem;
}

.welcome-container {
    text-align: center;
    position: fixed;
    width: calc(100% - 4rem);
    top: 0;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    color: #efefef;
}

.welcome-container > * {
    color: #efefef;
    /* font-family: 'Lato', Arial, Helvetica, sans-serif; */

}

.welcome-container a {
    color: #bce6f9;
    font-weight: 700;
}
.title {
    text-align: center;
    width: 100%;
    padding: 1rem;
    color: #efefef;
}

.welcome-container .welcome-user {
    margin: 0;
    font-family: 'Lato', Arial, Helvetica, sans-serif;

}

.inline {
    display: inline-block;
    margin-right: 0.3rem;
}
 /* .welcome-container h1 {
    position: relative;
} */
.connection-status {
    /* position: absolute; */
    margin-right: 1rem;
}
.bottom {
    position: fixed;
    width: calc(100% - 4rem);
    bottom: 0;
}

.login-container {
    display: flex;
    flex-direction: column;
    width: calc(100% - 4rem);
    position: fixed;
}

form {
    width: 100%;
    display: flex;
    /* justify-content: flex-start; */
    flex-direction: row;
    /* flex-wrap: wrap; */
}

#login {
    margin-right: auto;
}

.login-container input:focus {
    border: 1px solid #55bbfa;
}
[type=submit] {
    border: 1px solid #41b5fd;
    background-color: #63bef7;
}
[type=submit]:focus, [type=submit]:active, [type=submit]:hover {
    border: 1px solid #91d5ff;
    background: #63bef7;
}
.remember {
    display: block;
    width: 100vw;
}
/* .main-container {
    text-align: center;
} */

.chat-container {
    margin-top: 12rem;
    background-color: #b1ddf87e;
    height: calc(100vh - 15.25rem);
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
    
}
/* .chat-container p {
    min-height: 0;
} */
.single-message {
    width: 60vw; 
    margin: .2rem .8rem;
    padding: .2rem .4rem;
    background-color: #55bbfa;
    border: #44aafa 1px solid;
    border-radius: 5px;
    font-size: 0.6rem;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding-right: 0.8rem;
    color: #4e4e4e;
}

.single-message em {
    font-family: 'Gotu', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    padding: 0 .8rem;
    word-wrap: break-word;
    word-break: keep-all;
}

.single-message > * {
    padding: 0 .3rem;
}

/* .single-message p {

} */
.connection-status:hover {
    transform: scale(1.2);
}
.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: #ccca;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 0.5rem;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -55px;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.notify-test {
    position: fixed;
    left: 0;
    top: 0;
}
@media screen and (max-width: 600px) {
    .chat-container {
        margin-top: 10rem;
        height: calc(100vh - 13.25rem);
    }
    .title {
        margin-bottom: 0;
    }
    .connection-status {
        transform: translateY(4px);
    }
    .tooltip .tooltiptext {
        display: none;
    }
  }

@media screen and (max-width: 400px) {
    .app {
      padding: 0;
    }
    .login-container {
        width: 100%;
        padding: 0 .75rem;
    }
    .single-message {
        width: 80vw; 
        padding: unset;
    }
    .welcome-container {
        width: 100%;
        z-index: 999;
        background-color: #85d8ce;
        font-size: .7rem;
    }
    .chat-container {
        margin-top: 0; 
        height: 100vh;
        padding-bottom: 2rem;
    }
    .bottom {
        width: 100%;
        line-height: 20%;
    }

    [type=submit], [type=text]  {
        margin-bottom: 0;
        font-size: .8rem;
        padding: .4rem;
    }
    .welcome-container > * {
        margin: 0;
        font-size: .7rem;
        display: inline-block;
        padding: 0.2rem 0.2rem;
    }
    .welcome-container .title {
        font-size: 1.3rem;
        margin-top: 0.5rem;
    }
    .welcome-container a {
        color:#c8e2f3;
    }
    .connection-status {
        transform: scale(.8) translateY(8px);
    }
  }

@media screen and (max-width: 270px) {
    .connection-status {
        display: none;
    }
}